
*.ipch
chapter08/chapter08/chapter08.vcxproj
*.sln
*.db
*.user
chapter08/.vs/chapter08/v15/.suo
chapter08/chapter08/chapter08.aps
chapter08/chapter08/chapter08.vcxproj.filters
chapter08/chapter08/chapter08/main.cpp
chapter08/chapter08/chapter08/Spreadsheet.cpp
chapter08/chapter08/chapter08/Spreadsheet.h
chapter08/chapter08/chapter08/SpreadsheetApplication.cpp
chapter08/chapter08/chapter08/SpreadsheetApplication.h
chapter08/chapter08/chapter08/Test.cpp
chapter08/chapter08/chapter08/Test.h
chapter08/chapter08/main.cpp
chapter08/chapter08/resource.h
chapter08/chapter08/Spreadsheet.cpp
chapter08/chapter08/Spreadsheet.h
chapter08/chapter08/SpreadsheetApplication.cpp
chapter08/chapter08/SpreadsheetApplication.h
chapter08/chapter08/SpreadsheetCell.cpp
chapter08/chapter08/SpreadsheetCell.h
chapter08/chapter08/Test.cpp
chapter08/chapter08/Test.h
chapter08/Debug/chapter08.Build.CppClean.log
chapter08/Debug/chapter08.exe
chapter08/Debug/chapter08.ilk
chapter08/Debug/chapter08.log
chapter08/Debug/chapter08.pdb
chapter08/Debug/chapter08.tlog/chapter08.lastbuildstate
chapter08/Debug/chapter08.tlog/CL.command.1.tlog
chapter08/Debug/chapter08.tlog/CL.read.1.tlog
chapter08/Debug/chapter08.tlog/CL.write.1.tlog
chapter08/Debug/chapter08.tlog/link.command.1.tlog
chapter08/Debug/chapter08.tlog/link.read.1.tlog
chapter08/Debug/chapter08.tlog/link.write.1.tlog
chapter08/Debug/main.obj
chapter08/Debug/Spreadsheet.obj
chapter08/Debug/SpreadsheetApplication.obj
chapter08/Debug/SpreadsheetCell.obj
chapter08/Debug/Test.obj
chapter08/Debug/vc141.idb
chapter08/Debug/vc141.pdb
chapter11/.vs/chapter11/v15/.suo
chapter11/chapter11/chapter11.vcxproj
chapter11/chapter11/chapter11.vcxproj.filters
chapter11/chapter11/Debug/01_FindTemplate.obj
chapter11/chapter11/Debug/02_FindTemplateSpecialization.obj
chapter11/chapter11/Debug/03_FindTemplateOverload.obj
chapter11/chapter11/Debug/04_FindTemplateSpecialOverload.obj
chapter11/chapter11/Debug/chapter11.log
chapter11/chapter11/Debug/chapter11.tlog/chapter11.lastbuildstate
chapter11/chapter11/Debug/chapter11.tlog/CL.command.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/CL.read.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/CL.write.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link-cvtres.read.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link-cvtres.write.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link-rc.read.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link-rc.write.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link.12788-cvtres.read.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link.12788-cvtres.write.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link.12788-rc.read.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link.12788-rc.write.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link.12788.read.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link.12788.write.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link.command.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link.read.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/link.write.1.tlog
chapter11/chapter11/Debug/chapter11.tlog/unsuccessfulbuild
chapter11/chapter11/Debug/GameBoard.obj
chapter11/chapter11/Debug/GameBoardTest.obj
chapter11/chapter11/Debug/Grid.obj
chapter11/chapter11/Debug/GridTest.obj
chapter11/chapter11/Debug/SpreadsheetCell.obj
chapter11/chapter11/Debug/vc141.idb
chapter11/chapter11/Debug/vc141.pdb
chapter11/Debug/chapter11.pdb
*.tlog
chapter14/.vs/chapter14/v15/.suo
chapter14/.vs/chapter14/v15/Browse.VC.opendb
chapter14/chapter14/chapter14.vcxproj
chapter14/chapter14/chapter14.vcxproj.filters
chapter14/chapter14/Debug/chapter14.log
chapter14/chapter14/Debug/logical_operator.obj
chapter14/chapter14/Debug/main.obj
chapter14/chapter14/Debug/MemoryDemo.obj
chapter14/chapter14/Debug/MemoryDemoTest.obj
chapter14/chapter14/Debug/rvalue_operator.obj
chapter14/chapter14/Debug/SpreadsheetCell.obj
chapter14/chapter14/Debug/SpreadsheetCellTest.obj
chapter14/chapter14/Debug/vc141.idb
chapter14/chapter14/Debug/vc141.pdb
chapter14/Debug/chapter14.exe
chapter14/Debug/chapter14.ilk
chapter14/Debug/chapter14.pdb
*.exe
*.ilk
*.pdb
chapter17/.vs/chapter17/v15/.suo
*.opendb
*.vcxproj
*.filters
chapter17/chapter17/Debug/chapter17.log
chapter17/chapter17/Debug/main.obj
chapter17/chapter17/Debug/main2.obj
chapter17/chapter17/Debug/vc141.idb
